/* styles.css */

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding-top: 2rem;
}

.container {
    max-width: 960px;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 960px;
}

/* Header styles */
h1 {
    color: #007bff;
}

/* Card styles */
.card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    height:150px;
    background: linear-gradient(to bottom right, #ffffff, #f2f2f2); /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
}

/* Table styles */
.table {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
    border-color: #343a40;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.05);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    .card {
        margin-bottom: 15px;
    }
}

@media (max-width: 575.98px) {
    .card {
        margin-bottom: 10px;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 1rem;
    }
}
